image: gcc

build:
  stage: build

  before_script:
    - apt update && apt -y install make autoconf
  script:
    - g++ IteratorsBabcock.cpp -Wall -O2 -o Iterators
    - strip Iterators
    - g++ CanBabcock.cpp -Wall -O2 -o Can
    - strip Can
    - g++ SuperClassBabcock.cpp -Wall -O2 -o SuperClass
    - strip SuperClass
    - g++ AbstractBabcock.cpp -Wall -O2 -o Abstract
    - strip Abstract
    - g++ BinarySearchTreeBabcock.cpp -Wall -O2 -o BinarySearchTree
    - strip BinarySearchTree
    - cd DerivedClasses
    - make
    - cd ..
    - cd ListBasedStack
    - make
    - cd ..
    - cd ListBasedQueue
    - make
    - cd ..
    - cd SortingSearchingExperiment
    - make
    - cd ..
    - g++ InterfacesBabcock.cpp -Wall -O2 -o Interfaces
    - strip Interfaces
    - g++ LearnMapBabcock.cpp -Wall -O2 -o LearnMap
    - g++ callStackBabcock.cpp -Wall -O2 -o callStack
    - strip callStack
    - g++ StackApplicationBabcock.cpp -Wall -O2 -o StackApplication
    - strip StackApplication
    - cd examples
    - g++ BITexample.cpp -Wall -O2 -o bit
    - g++ example.cpp -Wall -O2 -o example
    - g++ stackExample.cpp -Wall -O2 -o stack
    - g++ trieExample.cpp -Wall -O2 -o trie
    - g++ queue.cpp -Wall -O2 -o queue
    - cd ..
    - g++ ticketsQueue.cpp -Wall -O2 -o ticketsQueue
    - strip ticketsQueue
    - g++ arrayLinkedListBabcock.cpp -Wall -O2 -o arrayLinkedList
    - strip arrayLinkedList
    - g++ PriorityQueueBabcock.cpp -Wall -O2 -o PriorityQueue
    - strip PriorityQueue
    - g++ PriorityQueueApplicationBabcock.cpp -Wall -O2 -o PriorityQueueApplication
  artifacts:
    paths:
      - Iterators
      - Can
      - SuperClass
      - Abstract
      - BinarySearchTree
      - DerivedClasses/DerivedClasses
      - ListBasedStack/ListBasedStack
      - ListBasedQueue/ListBasedQueue
      - SortingSearchingExperiment/sortingSearching
      - Interfaces
      - callStack
      - StackApplication
      - examples/bit
      - examples/example
      - examples/stack
      - examples/trie
      - ticketsQueue
      - arrayLinkedList
      - PriorityQueue
      - PriorityQueueApplication

